VIRTUAL_HOST=analytics.example.com
LETSENCRYPT_HOST=analytics.example.com
LETSENCRYPT_EMAIL=admin@example.com
POSTGRES_PASSWORD=change_me_to_strong_password
SECRET_KEY_BASE=change_me_to_openssl_generated_key
